<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">AppMe</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">See all Courses<span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Log in</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Code and Launch your Own Web Application</h1>
    <br />
    <h2>Technical Skills Courses from the best Startups in the country</h2>
    <br />
    <%= link_to 'Learn More', '#', :class => 'btn btn-success' %>
    <br /> <br />
  </div>
</div>
</br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
    <div class="col-sm-4">
      <h3>First Box</h3>
    </div>

    <div class="col-sm-4">
      <h3>Second Box</h3>
    </div>

    <div class="col-sm-4">
      <h3>Third Box</h3>
    </div>
  </div>
</div>









